jedi==0.17.2 #for ipython in python 3.6
ipython
ipdb
lxml
openpyxl
tabulate
sphinx>=1.4
sphinx-rtd-theme
pytest
sklearn
# from setup.py
numpy
pandas
tables
optlang
matplotlib
#'required version'
numexpr==2.7.1
pipdeptree==1.0.0
cobra==0.17.1
wheel
tqdm










