jedi==0.17.2 #for ipython in python 3.6
ipython
ipdb
lxml
openpyxl
tabulate
sphinx>=1.4
sphinx-rtd-theme
pytest
# from setup.py
numpy<=1.17.4
pandas
tables
Cython
deap
optlang
matplotlib
#'required version'
numexpr==2.7.1
#todo figure this out if not cobra error
pipdeptree==1.0.0
cobra==0.17.1
wheel
tqdm
sklearn
seaborn




